# Sections
snippet 1 "h1" bA
#$1
$0
endsnippet

snippet 2 "h2" bA
##$1
$0
endsnippet

snippet 3 "h3" bA
###$1
$0
endsnippet

snippet 4 "h4" bA
####$1
$0
endsnippet

snippet 5 "h5" bA
#####$1
$0
endsnippet

snippet 6 "h6" bA
######$1
$0
endsnippet

